@import "get-color";

:host {
  display: flex;
  flex-direction: row;
  width: 550px;

  my-radio-buttons {
    margin: 0 24px;
  }
}

.selected {
  margin-top: 25px;
  color: get-color(font-main-color)
}
