@import "../../styles/get-color";
@import "../../styles/mixins/svg-fill";

@mixin clear-button() {
  appearance: none;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

$size_s: 24px;
$size_m: 36px;
$size_l: 48px;
$size_xl: 64px;

$transitionTime: .2s;

.my-button {
  @include clear-button;
  display: flex;
  position: relative;
  border: 1px solid;
  cursor: pointer;
  transition: background-color $transitionTime ease-in;

  .my-button_text {
    white-space: nowrap;
  }

  &:not(:disabled) {
    &[my-color=primary] {
      background-color: get-color(interactive-main-primary);
      border-color: get-color(interactive-main-border, interactive-main-border-transparency);

      .my-button_icon svg-icon {
        @include svg-fill(get-color(white-100));
      }
    }

    &[my-color=secondary] {
      background-color: get-color(interactive-main-secondary);

    }

    &[my-color=transparent] {
      background-color: transparent;
      border-color: get-color(interactive-transparent-border);
      transition: border-color $transitionTime ease-in;

      .my-button_icon svg-icon {
        @include svg-fill(get-color(font-gray-1-color));
      }
    }

    &:not(:active) {
      &:hover, &.hover {
        &[my-color=primary] {
          background-color: get-color(interactive-hover-main);
        }
      }
    }
  }


  &:disabled {
    cursor: not-allowed;

    &[my-color=primary] {
      background-color: get-color(btn-disabled-color);
      border-color: get-color(interactive-main-border, interactive-main-border-transparency);

      .my-button_text {
        color: get-color(font-disabled-color);
      }

      .my-button_icon svg-icon {
        @include svg-fill(get-color(font-disabled-color));
      }
    }



    &[my-color=transparent] {
      background-color: transparent;
      border-color: get-color(interactive-main-border, interactive-main-border-transparency);

      .my-button_icon svg-icon {
        display: flex;
        @include svg-fill(get-color(font-disabled-color));
      }
    }
  }
}

.my-button, .my-action-button {
  justify-content: center;
  align-items: center;

  .my-button_icon svg-icon {
    display: flex;
  }

  &[my-color=primary].my-button_icon svg-icon {
    @include svg-fill(get-color(font-main-color));
  }

  &[my-size=s] {
    min-width: 64px;
    height: $size_s;
    border-radius: 12px;
    // adds 1px extra offset
    padding: 0 12px 1px 12px;

    &[my-button-type=icon-with-text] {
      min-width: 80px;
      // adds 1px extra offset
      padding: 0 12px 1px 8px;

      .my-button_icon:not(:empty) + .my-button_text {
        margin-left: 4px;
      }
    }

  }

  &[my-size=m] {
    min-width: 80px;
    height: $size_m;
    border-radius: 18px;
    // adds 1px extra offset
    padding: 0 16px 1px 16px;
  }
}
