@import "../../../styles/get-color";
@import "../../../styles/mixins/svg-fill";
@import "../button.mixins";

$size_s: 24px;
$size_m: 36px;
$size_l: 48px;
$size_xl: 64px;

$transitionTime: .2s;

.my-icon-button {
  @include clear-button;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: background-color $transitionTime ease-in;
  background-color: transparent;
  border: none;
  align-items: center;

  &:disabled {
    @include disabled;
  }

  svg-icon {
    display: flex;
  }

  &.use-bg {
    background-color: get-color(icon-button_bg);

    &.pressed {
      background-color: get-color(icon-button-active_bg);
    }

    &:hover, &.hover {
      background-color: get-color(icon-button-hover_bg);

      &.pressed {
        background-color: get-color(icon-button-active-hover_bg);
      }
    }
  }

  &:not([color='user-defined']) {
    &[disabled] {
      svg-icon {
        @include svg-fill(get-color(icon-button-disabled));
      }

      &.pressed {
        svg-icon {
          @include svg-fill(get-color(icon-button-pressed-disabled));
        }
      }
    }

    &:not([disabled]) {
      svg-icon {
        @include svg-fill(get-color(icon-button));
      }

      &.pressed {
        svg-icon {
          @include svg-fill(get-color(icon-button-pressed));
        }
      }

      &:not(:active) {
        &:hover, &.hover {
          svg-icon {
            @include svg-fill(get-color(icon-button-hover));
          }

          &.pressed {
            svg-icon {
              @include svg-fill(get-color(icon-button-pressed-hover));
            }
          }
        }
      }
    }

    &:active {
      svg-icon {
        @include svg-fill(get-color(icon-button-click));
      }

      &.pressed {
        svg-icon {
          @include svg-fill(get-color(icon-button-pressed-click));
        }
      }
    }
  }
}

