<div>Text Button Small</div>
<div class="flex-layout">
  <button my-button size="s">Сохранить</button>
  <button my-button size="s" disabled="true">Сохранить</button>
</div>
<div>
  <button my-button size="s" color="secondary">Сохранить</button>
  <button my-button size="s" color="secondary" class="pressed">Сохранить</button>
  <button my-button size="s" color="secondary" disabled="true">Сохранить</button>
</div>
<div>
  <button my-button size="s" color="transparent">Сохранить</button>
  <button my-button size="s" color="transparent" disabled="true">Сохранить</button>
</div>

<div>Text Button Medium</div>
<div class="flex-layout">
  <button my-button size="m">Сохранить</button>
  <button my-button size="m" disabled="true">Сохранить</button>
</div>
<div>
  <button my-button size="m" color="secondary">Сохранить</button>
  <button my-button size="m" color="secondary" class="pressed">Сохранить</button>
  <button my-button size="m" color="secondary" disabled="true">Сохранить</button>
</div>
<div>
  <button my-button size="m" color="secondary">Сохранить</button>
  <button my-button size="m" color="secondary" class="pressed">Сохранить</button>
  <button my-button size="m" color="secondary" disabled="true">Сохранить</button>
</div>
