<div>Text Button Small</div>
<div>
  <button my-icon-button size="s">Сохранить</button>
  <button my-action-button size="s" disabled="true">Сохранить</button>
</div>
<div>
  <button my-action-button size="s" color="secondary">Сохранить</button>
  <button my-action-button size="s" color="secondary" class="pressed">Сохранить</button>
  <button my-action-button size="s" color="secondary" disabled="true">Сохранить</button>
</div>
<div>
  <button my-action-button size="s" color="tranparent">Сохранить</button>
  <button my-action-button size="s" color="tranparent" disabled="true">Сохранить</button>
</div>
