<div style="text-align: left">
  <header class="my-text_display ${args.class}">Display</header>
  <h1 class="${args.class}">Headline 1</h1>
  <h2 class="${args.class}">Headline 2</h2>
  <h3 class="${args.class}">Headline 3</h3>
  <h4 class="${args.class}">Headline 4</h4>
  <p class="my-text_body-1 ${args.class}">Body 1 Big</p>
  <p class="my-text_body-2 ${args.class}">Body 2 Main</p>
  <p class="my-text_caption-1 ${args.class}">Caption 1 Main</p>
  <p class="my-text_caption-2 ${args.class}">Caption 2 Small</p>
  <label class="${args.class}">label</label>
  <label class="uppercase ${args.class}">label uppercase</label>
</div>
<div style="text-align: center">
  <header class="my-text_display ${args.class}">Display</header>
  <h1 class="${args.class}">Headline 1</h1>
  <h2 class="${args.class}">Headline 2</h2>
  <h3 class="${args.class}">Headline 3</h3>
  <h4 class="${args.class}">Headline 4</h4>
  <p class="my-text_body-1 ${args.class}">Body 1 Big</p>
  <p class="my-text_body-2 ${args.class}">Body 2 Main</p>
  <p class="my-text_caption-1 ${args.class}">Caption 1 Main</p>
  <p class="my-text_caption-2 ${args.class}">Caption 2 Small</p>
  <label class="${args.class}">label</label>
  <label class="uppercase ${args.class}">label uppercase</label>
</div>
<div style="text-align: right">
  <header class="my-text_display ${args.class}">Display</header>
  <h1 class="${args.class}">Headline 1</h1>
  <h2 class="${args.class}">Headline 2</h2>
  <h3 class="${args.class}">Headline 3</h3>
  <h4 class="${args.class}">Headline 4</h4>
  <p class="my-text_body-1 ${args.class}">Body 1 Big</p>
  <p class="my-text_body-2 ${args.class}">Body 2 Main</p>
  <p class="my-text_caption-1 ${args.class}">Caption 1 Main</p>
  <p class="my-text_caption-2 ${args.class}">Caption 2 Small</p>
  <label class="${args.class}">label</label>
  <label class="uppercase ${args.class}">label uppercase</label>
</div>

