:root {
  /**
  * In iOS browsers 100vh means window.innerHeight + height of browser navigation panel.
  * So we change this value from js if needed.
  */
  --100vh: 100vh;
  --100vw: 100vw;
}

$page-min-width: 720px;
$page-min-height: 600px;

$small-width: 720px;
$medium-small-width: 960px;
$medium-width: 1280px;
$large-width: 1920px;

