<div class="grid-layout">
  <header class="grid-header flex-layout-row">
    <svg-icon src="assets/xxx-logo.svg" class="logo"></svg-icon>
  </header>

  <aside class="grid-sidebar-left flex-layout-column">
      <a
        *ngFor="let section of SECTIONS"
        class="section"
        [class.active]="isSectionActive(section)"
        (click)="setActiveSection(section)"
      >
        {{section.title}}
      </a>
  </aside>

  <main class="grid-main-content flex-layout-column">
    <!-- Main Content Here -->
    <router-outlet></router-outlet>
  </main>

  <aside class="grid-sidebar-right flex-layout-column">
      <my-radio-buttons title="Theme">
        <my-radio-button
          (ngModelChange)="setTheme($event)"
          [ngModel]="selectedTheme"
          [value]="THEME.DARK"
          >Dark</my-radio-button>
        <my-radio-button
          (ngModelChange)="setTheme($event)"
          [ngModel]="selectedTheme"
          [value]="THEME.LIGHT">Light</my-radio-button>
    </my-radio-buttons>
  </aside>

  <footer class="grid-footer flex-layout-row" *ngIf="showFooter">
    <!-- Footer Content -->
  </footer>
</div>

