@import "get-color";
@import "mixins/svg-fill";

$header-height: 60px;

.grid-header {
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  justify-content: flex-start;
  align-items: center;

  $height: 60px;
  min-height: $height;
  height: $height;
  max-height: $height;

  padding-left: 16px;
  padding-right: 16px;

  border-left: 4px solid transparent;

  &.active {
    border-color: get-color(primary-color);
  }
}

[theme="dark"] {
  .grid-layout {
    background-color: #0e1824;
  }

  .grid-header {
    svg-icon {
      @include svg-fill(get-color(white-100));
    }
  }
}

[theme="light"] {
  .grid-layout {
    background-color: #fff;
  }
}
