<div class="grid-layout">
  <header class="grid-header flex-layout-row flex-align-center">
    <!-- Header Content: logo and buttons -->
  </header>

  <aside class="grid-sidebar-left flex-layout-column">
    <!-- Left Sidebar Content -->
  </aside>

  <main class="grid-main-content flex-layout-column">
    <!-- Main Content Here -->
    <router-outlet></router-outlet>
  </main>

  <aside class="grid-sidebar-right flex-layout-column">
    <!-- Right Sidebar Content -->
  </aside>

  <footer class="grid-footer flex-layout-row" *ngIf="showFooter">
    <!-- Footer Content -->
  </footer>
</div>

